// Color
c__gray          = #555555
c__gray--alpha   = #f5f5f5
c__gray--beta    = #D8D8D8
c__gray--gama    = #818181
c__gray--teta    = #eaeaea

c__red           = #e21e3c

c__blue          = #00458d

c__black         = #252525

c__extra         = #c76200
c__control       = #0594a0
c__hidratante    = #1681d2
c__original      = #004890


// Typo
f__sans = 'Open Sans', sans-serif

font-face( 'NexaBold', '../fonts/nexa_bold-webfont', formats: woff woff2 eot svg ttf )
font-face( 'NexaLight', '../fonts/nexa_light-webfont', formats: woff woff2 eot svg ttf )
