/*Mixins*/
retina-query(n, w, h)
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi)
    background-image url("../images/"n"@2x.png")
    background-size w h

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval, deprecatedWebkitStartPoint = false, deprecatedWebkitEndPoint = false)
	background-color startColor
	if deprecatedWebkitStartPoint && deprecatedWebkitEndPoint
		background-image -webkit-gradient(linear, deprecatedWebkitStartPoint, deprecatedWebkitEndPoint, color-stop(startInterval, startColor), color-stop(endInterval, endColor))
	background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
	background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

set-color-theme(gradient, opacity-value, nav, header-thumbs, icon-modifier)
  if !opacity-value
    opacity-value = 1

  .ia-Product
    &__inner
      background-linear-gradient(180deg, rgba(white,0.1), 0, rgba(gradient,opacity-value), 130%)
      +above(768px)
        background-linear-gradient(180deg, rgba(white,0.1), 45%, rgba(gradient,opacity-value), 55%)
    &__header
      &:after
        background-color header-thumbs
    &__category
      background-color header-thumbs
    &__type
      color header-thumbs
    &__nav
      &__next,
      &__prev,
      &__info
        color nav
  .ia-Thumbs
    &__item
      &.js-active-thumb
        background-color header-thumbs
    &__trigger
      &:after
        content url('../images/icon-bottle--'icon-modifier'.svg')


/*Utilities*/
.u-Container
  center(1170px)

  padding 0 1em

.u-ListNoStyle
  margin 0
  padding 0

  list-style none

.u-Block
  display block

.u-Clearfix
  overflow hidden
  clear both

.u-ImgResponsive
  display block
  width 100%
  max-width 100%
  height auto

.u-ExaLight
  font-family NexaLight


/*JS elements*/
.js-noscroll {
  overflow: hidden;
}
