/* IA Brick */
.ia-Brick
  background-color black
  opacity 0

  clearfix()

  &--normal
    height auto

    +above(1024px)
      height 45%

  &--tall
    height auto

    +above(1024px)
      height 55%

  &Link
    relative false false

    height 480px

    display block

    overflow hidden

    &:hover
      .ia-BrickFig
        opacity 0.5
        transform scale(1.01)
      .ia-BrickCaption
        padding 2em 3em

    +above(1024px)
      height 100%

    &--control
      &:hover
        .ia-BrickBottle
          left 32px
      .ia-BrickFig
        background url('../images/feed-bg-control.jpg')
      .ia-BrickBottle
        left 16px
        bottom 0


    &--article
      .ia-BrickFig
        background url('../images/feed-bg-article.jpg')

    &--test
      .ia-BrickFig
        background url('../images/feed-bg-test.jpg')

    &--something
      .ia-BrickFig
        background url('https://placeholdit.imgix.net/~text?txtsize=75&txt=800%C3%97976&w=800&h=976')

    &--extra
      &:hover
        .ia-BrickBottle
          right 32px
      .ia-BrickFig
        background url('../images/feed-bg-extra.jpg')
      .ia-BrickBottle
        right 16px
        bottom 0


  &Icon
    absolute 50% 50%

    size 50px

    opacity 0
    transform translate(-50%, -50%)
    transition all 0.33s easing( "out-cubic" )

  &Fig
    relative false false

    display block
    height 100%

    background-repeat no-repeat
    background-position center center
    background-size cover

    overflow hidden
    transition all 0.33s easing( "in-out-quad" )

  &Bottle
    absolute false false
    transition all 0.33s easing( "in-out-back" )
    width 100px

    +above(1367px)
      width 150px

  &Caption
    padding 1em 3em

    text-align center

    background-color rgba(black, 0.8)

    transition all 0.33s easing( "in-out-quad" )

    &--bottom
      absolute false 0.5em 0.5em 0.5em

    &--top
      absolute 0.5em 0.5em false 0.5em

    &__title
      margin 0

      font-family NexaBold
      font-size 1.25em
      text-transform uppercase

      color white

      .ia-Reg
        font-size 0.5em

    &__hr
      display inline-block

      size 20px 4px

      border none

      background-color c__blue

    &__txt
      margin 0

      font-family f__sans

      color c__gray

  &Column
    +above(480px)
      span(1/2)
