.ia-Content
  relative false false

  padding-top 59px
  margin-bottom 43px
  min-height 0

  +above(768px)
    float right

    padding-top 0
    width calc(100% \- 150px)

  &--frontpage
    background-color black

    +above(1024px)
      min-height 1200px
      height calc(100% \- 43px)

  &--product
    background url('../images/bg-body-product.png') no-repeat top center c__gray--teta
    background-attachment: fixed;

    +above(1024px)
      min-height 768px
      height calc(100% \- 43px)
