.ia-Column
  relative false false
  +above(1024px)
    span(1/2)
    height 100%

/*column settings product grid view*/
.ia-Content
  &--product-grid
    .ia-Column
      +above(1024px)
        height calc(100% \- 149px)
