.ia-Content
  relative false false

  padding-top 59px
  min-height 0

  +above(991px)
    float right

    padding-top 0
    width calc(100% \- 150px)

  &--frontpage
    padding-bottom 43px
    background-color black

    +above(1024px)
      min-height 1200px
      height 100%

  &--product
    +above(768px)
      min-height 600px
      height calc(100% \- 43px)
