@import "../../../node_modules/kouto-swiss/lib/kouto-swiss/"
@import "resources/jeet/stylus/jeet/"
@import "resources/rupture/rupture/"

// Resources
@import "resources/ia-resources"
@import "resources/ia-utilities"

// Layout
@import "layout/ia-header"
@import "layout/ia-footer"

// Pages
@import "pages/ia-product"
@import "pages/ia-product-grid"
@import "pages/ia-blog"
@import "pages/ia-diagnostic"
@import "pages/ia-single"
@import "pages/ia-promos"

// Directives
@import "directives/ia-content"
@import "directives/ia-column"
@import "directives/ia-brick"
@import "directives/ia-overlay"

// Widgets
@import "widgets/ia-search"
@import "widgets/ia-experts"







html,
body
  width 100%
  padding 0
  margin 0

  font-size 16px
  font-family 'Open Sans', sans-serif
  -webkit-font-smoothing antialiased

  clearfix()

  height 100%

*
  box-sizing border-box

a
  text-decoration none


figure
  margin 0

input, button
  outline none
