/*brick settings in blog view*/
.ia-Content
  &--blog
    +above(1024px)
      height 100%
    .ia-ContentHeader
      background url('../images/bg-blog-header.jpg') no-repeat center center
      background-size cover
    .ia-ContentBody
      +above(1024px)
        height calc(100% \- 221px)
    .ia-Brick
      &--normal,
      &--tall
        height 480px
        +above(480px)
          height 600px
      &Link
        height 100%
      &Fig
        background-position center center
        background-repeat no-repeat
        background-size cover
      &Caption
        &__txt
          font-family NexaBold
          font-size 14px
          letter-spacing 1px
          text-transform uppercase
          color white


/*blog blocks styles*/
.ia-Blog
  &__footer
    clearfix()
    display block
    padding 16px 0
    text-align center
    &__ctrl
      display inline-block
      width 150px
      +above(768px)
        width 200px
      a
        display block
        padding 8px
        text-align center
        color white
        background-color c__gray
        transition all 0.33s easing( 'in-out-cubic' )
        &:hover
          background-color darken(c__gray, 10%);
        &.disabled
          pointer-events none
          cursor default
          background-color lighten(c__gray, 20%)
      &--next
        a
          &:after
            content '\f105'
            font normal normal normal 14px/1 FontAwesome
            margin-left 8px
      &--prev
        a
          &:before
            content '\f104'
            font normal normal normal 14px/1 FontAwesome
            margin-right 8px


  // &__pager
  //   display table
  //   margin 0 auto
  //   &__item
  //     display table-cell
  //     padding-left 16px
  //     &.disabled
  //       a
  //         opacity 0.6
  //         cursor default
  //         pointer-events none
  //     &:nth-child(1)
  //       padding-left 0
  //     &.active
  //       a
  //         background-color c__red
  //         color white
  //         pointer-events none
  //         cursor default
  //     a
  //       display inline-block
  //       width 40px
  //       height 40px
  //       text-align center
  //       line-height 40px
  //       background-color c__blue
  //       border-radius 50%
  //       color white
  //       transition all 0.33s easing( 'in-out-cubic' )
  //       &:hover
  //         background-color darken(c__blue, 10%)
