// Content wrapper Control
.ia-Content
  &--diagnostic
    &.js-init-active
      .ia-Diagnostic
        &__progress
          opacity 0

.ia-Diagnostic

  // Header Style
  &__header
    margin-top 16px
    padding 16px 0 0
    text-align center
    background-color rgba(black,.5)
  &__qst
    margin 0
    font-size 16px
    text-transform uppercase
    color white
  &__progress
    position relative
    transition all 0.33s easing( 'in-out-cubic' )
  &__count
    position absolute
    left 0
    top 0
    font-size 12px
    font-weight 700
    color c__red
    transform translateX(-120%)
    transition all 0.33s easing( 'in-out-cubic' )
  &__bar
    position relative
    padding-top 20px
  &__padding
    height 5px
    background-color c__red
    transition all 0.33s easing( 'in-out-cubic' )

  // Body style
  &__body
    padding 32px 16px
    text-align center
    background-color c__gray--beta
    transition background-image 0.33s easing( 'in-out-cubic' )


  &__option
    clearfix()
    position relative
    margin-bottom 32px
    color black
    cursor pointer
    transition background-color 0.33s easing( 'in-out-cubic' )
    +above(768px)
      col(1/2, gutter: 4, cycle: 2)

  // Options options style
  &__options
    clearfix()
    max-width 700px
    margin 0 auto

  // Controls style
  &__start,
  &__reset
    display inline-block
    margin-top 32px
    padding 8px 32px
    font-weight 700
    text-transform uppercase
    background-color c__red
    color white
    transition all 0.33s easing( 'in-out-cubic' )
    &:hover
      background-color darken(c__red, 10%)
  &__start
    &.js-disabled
      background-color c__gray--gama
      cursor default
      pointer-events none
  &__ctrls
    margin-top 32px
  &__ctrl
    display inline-block
    width 50px
    height 50px
    line-height 50px
    background-color c__red
    border-radius 50%
    color white
    transition all 0.33s easing( 'in-out-cubic' )
    &:hover
      background-color darken(c__red, 20%)
    &--prev
      margin-right 32px
    &.js-disabled
      background-color c__gray--beta
      cursor default
      pointer-events none
      &:hover
        background-color c__gray--beta

  &__view
    // Init option style
    &--init,
    &--general

      display none !important

      &.js-state-active
        display block
    &--init

      display none

      .ia-Diagnostic__option
        background-color black
        col(1/2, gutter: 4, cycle: 2)
        &:after
          content '\f00c'
          absolute false 16px 16px false
          z-index 100
          display block
          padding 4px
          font normal normal normal 14px/1 FontAwesome
          color white
          border 1px solid white
          opacity 0
          transition all 0.33s easing( 'in-out-cubic' )
        &__img
          display block
          max-width 100%
          border 2px solid transparent
          transition all 0.33s easing( 'in-out-cubic' )
        &.js-active-option
          &:after
            opacity 1
        &:hover img,
        &.js-active-option img
          opacity 0.8
          border 2px solid c__red

    // General Styles
    &--general

      display none

      .ia-Diagnostic__option
        min-height 156px
        padding 16px
        border 2px solid transparent
        background-color white
        &.js-active-option
          background-color c__blue
          color white
        &:hover
          border-color rgba(c__blue, 0.5)
        &__inner
          clearfix()
          absolute 50% 16px false 16px
          transform translateY(-50%)
        &__letter,
        &__copy
          position relative
          width 100%
          text-align center
          +above(768px)
            absolute 50% false false
            transform translateY(-50%)
        &__letter
          font-family NexaBold
          font-size 24px
          +above(768px)
            col(1/4)
            left 0
        &__copy
          font-weight 300
          margin 0
          +above(768px)
            col(3/4)
            right 0
            text-align left

    // Result Styles
    &--result
      clearfix()
      max-width 941px
      margin 0 auto
      +above(991px)
        text-align left
      .ia-Product__category
        margin-bottom 16px
        font-size 18px
        text-align center
      p
        margin-top 0
        margin-bottom 16px
        font-size 14px
      .ia-Diagnostic__result
        &__column
          padding 0 16px
        &__column,
        &__bottle,
        &__info
          +above(991px)
            col(1/2)
        &__bottle
          img
            width 1000px
        &__link
          display block
          padding 8px
          font-size 14px
          text-transform uppercase
          text-align center
          color white
          border-radius 30px
        &__summary
          position relative
          height 300px


edit()
