.ia-Diagnostic

  // Header Style
  &__header
    margin-top 16px
    padding 16px 0 0
    text-align center
    background-color rgba(black,.5)
  &__qst
    margin 0
    font-size 16px
    text-transform uppercase
    color white
  &__progress
    position relative
  &__count
    position absolute
    left 9.09091%
    top 0
    font-size 12px
    font-weight 700
    color c__red
    transform translateX(-50%)
    transition all 0.33s easing( 'in-out-cubic' )
  &__bar
    position relative
    padding-top 20px
  &__padding
    width 9.09091%
    height 5px
    background-color c__red
    transition all 0.33s easing( 'in-out-cubic' )

  // Body style
  &__body
    padding 32px 16px
    text-align center
    background-color c__gray--beta

  // Options options style
  &__options
    clearfix()
    max-width 700px
    margin 0 auto
    // Init option style
    &--init
      .ia-Diagnostic__option
        height auto !important
        border none
        background-color black
        &:after
          content '\f00c'
          absolute false 16px 16px false
          z-index 100
          display block
          padding 4px
          font normal normal normal 14px/1 FontAwesome
          color white
          border 1px solid white
          opacity 0
          transition all 0.33s easing( 'in-out-cubic' )
        &.js-active-option
          &:after
            opacity 1
        &:hover img,
        &.js-active-option img
          opacity 0.8
          border 2px solid c__red
  &__option
    clearfix()
    position relative
    margin-bottom 32px
    background-color white
    color black
    cursor pointer
    transition all 0.33s easing( 'in-out-cubic' )
    height 156px
    padding 16px
    border 2px solid transparent
    +above(768px)
      col(1/2, gutter: 4, cycle: 2)
    &.js-active-option
      background-color c__blue
      color white
    &:hover
      border-color rgba(c__blue, 0.5)
    &__img
      display block
      max-width 100%
      border 2px solid transparent
      transition all 0.33s easing( 'in-out-cubic' )
    &__inner
      absolute 50% 16px false 16px
      transform translateY(-50%)
    &__letter,
    &__copy
      position relative
      width 100%
      text-align center
      +above(768px)
        absolute 50% false false
        transform translateY(-50%)
    &__letter
      font-family NexaBold
      font-size 24px
      +above(768px)
        col(1/4)
        left 0
    &__copy
      font-weight 300
      margin 0
      +above(768px)
        col(3/4)
        right 0
        text-align left

  // Controls style
  &__ctrls
    margin-top 32px
  &__ctrl
    display inline-block
    width 50px
    height 50px
    line-height 50px
    background-color c__red
    border-radius 50%
    color white
    transition all 0.33s easing( 'in-out-cubic' )
    &:hover
      background-color darken(c__red, 20%)
    &--prev
      margin-right 32px
    &.js-disabled
      background-color c__gray--beta
      cursor default
      pointer-events none
      &:hover
        background-color c__gray--beta


#diagnostic-init
  display none
#diagnostic-general
  display block
