/*Promos view settings content*/
.ia-Content
  &--promos
    min-height 480px !important
    height 100%

.ia-Promos
  background url('../images/feed-bg-promo.jpg') no-repeat 97% 0
  background-size cover
  height 100%
