/*Local Mixin*/
set-color-theme(gradient, opacity-value, nav, header-thumbs, icon-modifier)
  if !opacity-value
    opacity-value = 1

  .ia-Product
    &__inner
      background-linear-gradient(180deg, rgba(white,0.1), 0, rgba(gradient,opacity-value), 130%)
      +above(768px)
        background-linear-gradient(180deg, rgba(white,0.1), 45%, rgba(gradient,opacity-value), 55%)
    &__header
      &:after
        background-color header-thumbs
    &__category
      background-color header-thumbs
    &__type
      color header-thumbs
    &__nav
      &__next,
      &__prev,
      &__info
        color nav
  .ia-Thumbs
    &__item
      &.js-active-thumb
        background-color header-thumbs
    &__trigger
      &:after
        content url('../images/icon-bottle--'icon-modifier'.svg')


/*Product Card*/
.ia-Product
  position relative
  text-align center
  height 100%
  background url('../images/bg-body-product.png') no-repeat top center c__gray--teta
  background-size 100%
  background-attachment fixed
  +above(768px)
    background-size auto
  &__inner
    clearfix()
    height 100%
    background-attachment fixed
  &__carousel
    position relative
    +above(768px)
      absolute 50% false false 0
      width 100%
      transform translateY(-50%)
  &__column
    +above(768px)
      span(1/2)
  &__item
    clearfix()
    display inline-block
    padding 32px
    width 100%
    max-width 900px
  &__fig
    margin-bottom 64px
    +above(768px)
      margin-bottom 32px
    img
      max-width 100%
    &--d
      display none
      +above(768px)
        display inline-block
    &--m
      display inline-block
      +above(768px)
        display none
  &__desc
    padding 16px
    +above(768px)
      padding-top 108px
  &__header
    &:after
      content ''
      display inline-block
      width 50px
      height 8px
      margin 32px 0
  &__category,
  &__type
    margin 0
    padding 6px 16px 0
    font-size 28px
    line-height 1
    letter-spacing 6px
    text-transform uppercase
    +above(991px)
      font-size 48px
  &__category
    margin-bottom 4px
    font-family NexaLight
    color white
    &--large
      font-size 20px
      +above(991px)
        font-size 32px
  &__type
    font-family NexaBold
    &--large
      font-size 12px
      +above(991px)
        font-size 20px
  &__text
    margin-top 0
    margin-bottom 32px
    font-size 18px
    color c__black
    +above(768px)
      text-align left
    &--note
      color c__gray--gama
  &__share
    /*display inline-block*/
    display none
    width 50px
    margin-top 64px
    border 1px solid c__black
    transform rotate(45deg)
    transition all 0.33s easing( 'in-out-cubic' )
    &:hover
      transform rotate(90deg)
      img
        transform rotate(-90deg)
    img
      transition all 0.33s easing( 'in-out-cubic' )
      transform rotate(-45deg)
  &__nav
    fixed false 0 43px false
    z-index 100
    width 100%
    +above(768px)
      fixed false 0 50% false
      width auto
      transform translateY(50%)
    &__next,
    &__prev,
    &__info
      display block
      height 40px
      line-height 40px
      text-align center
      background-color c__gray
      +above(768px)
        float none !important
        width 40px !important
    &__info
      span(2/4)
    &__count,
    &__total
      font-size 14px
      color white
    &__next,
    &__prev
      span(1/4)
      &:hover
        background-color darken(c__gray, 10%)

      &.js-disabled
        opacity 0.8
    &__prev
      border-right 1px solid c__gray--gama
      +above(768px)
        border-right none
        border-bottom 1px solid c__gray--gama
    &__next
      border-left 1px solid c__gray--gama
      +above(768px)
        border-left none
        border-top 1px solid c__gray--gama



/*Thumbs Control*/
.ia-Thumbs
  fixed false false 43px false
  z-index 100
  display none
  width 100%
  max-height 200px
  transform translateY(100%)
  transition all 0.75s easing( 'in-out-cubic' )
  +above(768px)
    display block
  +above(991px)
    width calc(100% \- 150px)

  &.js-thumbs-active
    transform translateY(0)
  &__header
    display inline-block
    absolute false false false 50%
    margin-top -43px
    transform translateX(-50%)
  &__trigger
    position relative
    display block
    padding 12px 48px 12px 32px
    font-size 14px
    font-weight 300
    text-transform uppercase
    color white
    background-color c__gray
    &:hover
      background-color darken(c__gray, 10%)
    &:after
      display block
      absolute 50% 23px false false
      z-index 100
      size 13px 33px
      transform translateY(-50%)
  &__body
    clearfix()
    background-color c__gray
    border 1px solid darken(c__gray, 10%)
  &__item
    position relative
    float left
    min-height 200px
    padding 20px
    text-align center
    cursor pointer
    border-left 1px solid darken(c__gray, 10%)
    &:hover
      background-color darken(c__gray, 10%)
    &:nth-child(1)
      border none
  &__media
    display inline-block
    max-height 120px
    max-width 100%
  &__caption
    absolute false 16px 16px
    font-family NexaBold
    font-size 10px
    text-transform uppercase
    letter-spacing 1px
    color white
    +above(1199px)
      font-size 14px



/*Colors control*/
.ia-Product
  &--extra
    set-color-theme(c__extra--alpha, false, c__extra--alpha, c__extra, extra)
  &--hidratante
    set-color-theme(c__hidratante, 0.32, c__hidratante--alpha, c__hidratante, hidratante)
  &--original
    set-color-theme(c__original, 0.32, c__original--alpha, c__original, original)
  &--control
    set-color-theme(c__control, 0.32, false, c__control, false)
